html {
  text-align: center;
  width: 771px;
  margin: 8px auto 0 auto;
}

h2 {margin: 22px}

label {
  width: 100%;
  display: inline-block;
  padding: 5px;
}

.contact-info {
  display: inline-block;
  width: 42%;
  text-align:  right;
  margin-right: 5%;
}

.state {
  width:172.5px;
  height: 21px;
}

.zip {width: 168.5px}

h4 {margin: 26px 0 20px 0;}

.form-labels {
  display: inline-block;
  width: 44%;
  margin-bottom: 10px;
  margin-left: 40px;
}

.form-labels.first {
  margin-left: 30px;
}

.get-to-know {
  text-align: left;
  width: 28%;
  margin-left: 22%;
  display: inline-block; 
}

fieldset > label {margin: 12px 0 8px 0;}

textarea {
  resize: vertical;
  height: auto;
}

button {
  padding: 8px 24px;
  margin: 8px 100px;
}

button:last-of-type {
  margin-left: 125px;
}
